footer {
  bottom: 0;
  z-index: 1000;
  background-color: #282c34; /* Couleur de fond sombre */
  color: #ffffff; /* Couleur du texte */
  padding: 20px 10px; /* Espace interne */
  display: flex;
  align-items: center;
  justify-content: space-between; /* Espacement entre les éléments */
  box-shadow: 0 -2px 5px rgba(0, 0, 0, 0.1); /* Ombre légère pour démarquer le footer */
}

.footer-logo-container {
  display: flex;
  align-items: center;
}

.logo-footer {
  width: 65px;
  height: 40px;
  margin-right: 10px;
}

footer p {
  margin: 0;
  font-size: 0.9rem;
}

footer a {
  color: #ffffff;
  text-decoration: none;
  font-weight: bold;
  transition: color 0.3s ease;
}

footer a:hover {
  color: #00bcd4;
}
